.usp {
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid #efeded;
}
.usp__icon {
  margin-bottom: 15px;
  width: auto;
}
.usp__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 180px;
  padding: 15px;
}
.usp__title {
  font-size: 24px;
}
.usp__text {
  font-size: 16px;
}

.usp__wrapper {
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 100%;
}
